<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('navbar') }}
        {% endblock %}
    </head>
    <body>

        <main>
            <nav>
                <div>
                    <a class="button" href="{{ path('home') }}">ACCEUIL</a>
                    <a class="button" href="{{ path('oriental') }}">REALISATION ORIENTAL</a>
                    <a class="button" href="{{ path('europe') }}">REALISATION EUROPEENNE</a>
                </div>

                <div class="formulaire">
                    <a  href="{{ path('formulaire') }}"> Contact & Information Pratiques </a>
                </div>

                <div>
                    {% if not app.user %}
                    {% else %}
                        <a class="logout" href="{{ path('home') }}">
                            Sign out
                        </a>
                    {% endif %}
                </div>
            </nav>
        </main>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
